.search__content {
	position: relative;
	padding: 15px 0;
}

.search__pagination {
	display: flex;
	justify-content: center;
}

.search__items {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5px 5px 5px 5px;
	margin: 15px 0;
}

.search__item {
	position: relative;
	width: 24%;
	margin: 5px 0 5px 0;
	padding: 15px;
	border: 2px solid var(--border);
	border-radius: 0.5rem;
	cursor: pointer;
}

.search__item_active {
	border: 2px solid var(--border-active);
}

.search__container {
	width: 7rem;
	height: 7rem;
	margin: 0 auto 10px auto;
	border-radius: 50%;
	overflow: hidden;
}

.search__photo {
	width: 100%;
	height: 100%;
}

.search__name {
	font-size: 16px;
	text-align: center;

}

.search__name a {
	text-decoration: none;
	color: var(--pargraph-text-color);
}

.search__info {
	position: absolute;
	padding: 10px;
	/*bottom: 0;*/
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	background-color: #fff;
	border: 2px solid var(--border);
	border-radius: 0.5rem;
	z-index: 2;
}

.search__info p {
	text-align: center;
}


@media (min-width: 500px) and (max-width: 992px) {

	.search__item {
		width: 48%;
		margin: 5px 0 5px 0;
		padding: 15px;
		border: 2px solid var(--border);
		border-radius: 0.5rem;
		cursor: pointer;
	}

}

@media (max-width: 500px) {

	.search__item {
		width: 100%;
		margin: 5px 0 5px 0;
		padding: 15px;
		border: 2px solid var(--border);
		border-radius: 0.5rem;
		cursor: pointer;
	}

}