#chat-wrap {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    position: relative;
    height: calc(100vh - 9rem);
}

#chat_no-conversations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 28rem;
    max-width: 100%;
    margin: 5rem auto;
    position: absolute;
}
.chat_no-conversations-icon svg {
    stroke: var(--color-pink);
}
.chat_no-conversations-title {
    margin-top: 1rem;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 1.25rem;
    color: #555;
}
.chat_no-conversations-hint {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.85rem;
    color: #555;
    line-height: 1.5;
}
.chat_no-conversations-buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


#chat-skeleton {
    display: flex;
    width: 100%;
}
.chat-skeleton_conversations-panel {
    width: 14rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #ccc;
}
.chat-skeleton_conv {
    width: calc(100% - 1rem);
    height: 4rem;
    border-radius: 0.5rem;
    background-color: #f1eef1;
    margin: 0.5rem;
    padding: 0.5em;
    display: flex;
    align-items: center;
}
.chat-skeleton_conv_photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;
    background-color: #dedbde;
    margin-right: 0.5rem;
}
.chat-skeleton_conv_name {
    width: 4rem;
    height: 0.75rem;
    background-color: #dedbde;
    border-radius: 0.25rem;
}
.chat-skeleton_conv_last-msg {
    width: 6rem;
    height: 0.75rem;
    background-color: #dedbde;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}
.chat-skeleton_messages-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.chat-skeleton_send-form {
    margin: 1rem 4rem 1rem 1rem;
    width: calc(100% - 5rem);
    height: 2.5rem;
    background-color: #eae7ea;
    border-radius: 0.5rem;
}
.chat-skeleton_messages-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
}
.chat-skeleton_msg {
    display: flex;
    width: 70%;
    min-height: 2rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    position: relative;
}
.chat-skeleton_msg.has-followed-msg {
    margin-bottom: 0.15rem;
}
.chat-skeleton_msg::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid #eae7ea;
    border-left: 16px solid transparent;
    position: absolute;
    left: 2.5rem;
}
.chat-skeleton_msg.has-followed-msg + .chat-skeleton_msg::before {
    visibility: hidden;
}
.chat-skeleton_msg_photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #eae7ea;
    margin-right: 0.5rem;
}
.chat-skeleton_msg.has-followed-msg + .chat-skeleton_msg .chat-skeleton_msg_photo {
    visibility: hidden;
}
.chat-skeleton_msg_text {
    flex-grow: 1;
    height: 4rem;
    border-radius: 0 1rem 1rem 1rem;
    background-color: #eae7ea;
}
.chat-skeleton_msg.has-followed-msg .chat-skeleton_msg_text {
    border-radius: 0 1rem 0.5rem 0.5rem;
}
.chat-skeleton_msg.has-followed-msg + .chat-skeleton_msg .chat-skeleton_msg_text {
    border-radius: 0.5rem 0.5rem 1rem 1rem;
}




#chat {
    display: flex;
    width: 100%;
}
.chat-conversations-panel {
    width: 14rem;
    flex-shrink: 0;
    flex-grow: 0;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}
.chat_conv {
    width: calc(100% - 1rem);
    min-height: 4rem;
    border-radius: 0.5rem;
    background-color: #eee;
    margin: 0.5rem;
    padding: 0.5em;
    display: flex;
    align-items: center;
    border: 2px solid #eee;
    cursor: pointer;
}
.chat_conv:hover {
    background-color: #e9e9e9;
}
.chat_conv.active {
    border-color: var(--color-pink);
}
.chat_conv_photo {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: #dedbde;
    margin-right: 0.5rem;
}
.chat_conv_texts {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
}
.chat_conv_name {
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.25rem;
}
.chat_conv_last-msg {
    font-size: 0.65rem;
    color: #555;
    border-radius: 0.25rem;
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 8rem;
    white-space: nowrap;
}
.chat_conv_last-msg.from-me {
    font-style: italic;
}
.chat_messages-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0 0.5rem 0.5rem 0;
    overflow: hidden;
}
.chat_messages-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
    flex-shrink: 1;
    height: 100%;
}
.chat_send-form {
    display: flex;
    padding: 1rem;
}
.chat_msg-input {
    flex-grow: 1;
    resize: none;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 0.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    padding: 0.7rem;
    outline: none;
    display: flex;
    max-height: 180px;
}
.chat_send-button {
    border: none;
    background-color: transparent;
    margin-left: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.chat_send-button svg {
    stroke: #ccc;
}
.chat_send-button:hover svg {
    stroke: #aaa;
}



.chat_msg {
    display: flex;
    min-height: 2rem;
    margin: 0 0.5rem 1rem 0;
    position: relative;
    flex-shrink: 0;
}
.chat_msg:first-child {
    margin-top: auto;
}
.chat_msg.has-followed-msg {
    margin-bottom: 0.15rem;
}
.chat_msg::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 16px solid #eae7ea;
    border-left: 16px solid transparent;
    position: absolute;
    left: 2.5rem;
}
.chat_msg.has-followed-msg + .chat_msg::before {
    visibility: hidden;
}
.chat_msg_photo {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #eae7ea;
    margin-right: 0.5rem;
    flex-shrink: 0;
}
.chat_msg.has-followed-msg + .chat_msg .chat_msg_photo {
    visibility: hidden;
}
.chat_msg_text {
    min-height: 2.5rem;
    border-radius: 0 1.5rem 1.5rem 1.5rem;
    background-color: #eae7ea;
    padding: 0.75rem;
    font-size: 0.8rem;
    display: flex;
    margin-bottom: auto;
    align-items: center;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}
.chat_msg.outgoing .chat_msg_text {
    padding: 0.75rem 2rem 0.75rem 0.75rem;
}
.chat_msg.outgoing.delivered .chat_msg_text::before {
    content: '';
    display: block;
    width: 3px;
    height: 10px;
    border-bottom: 2px solid #9fbbc8;
    border-right: 2px solid #9fbbc8;
    transform: rotate(45deg);
    position: absolute;
    right: 18px;
    bottom: 10px;
}
.chat_msg.outgoing.seen .chat_msg_text::after {
    content: '';
    display: block;
    width: 0px;
    height: 10px;
    border-bottom: 2px solid #9fbbc8;
    border-right: 2px solid #9fbbc8;
    transform: rotate(45deg);
    position: absolute;
    right: 13px;
    bottom: 9px;
}
.chat_msg.has-followed-msg .chat_msg_text {
    border-radius: 0 1.5rem 1.5rem 0.5rem;
}
.chat_msg.has-followed-msg + .chat_msg .chat_msg_text {
    border-radius: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.chat_msg.has-followed-msg + .chat_msg.has-followed-msg .chat_msg_text {
    border-radius: 0.5rem 1.5rem 1.5rem 0.5rem;
}
.chat_msg.incoming .chat_msg_text {
    background: #f0dae3;
}
.chat_msg.incoming::before {
    border-top: 16px solid #f0dae3;
}
.chat_msg.outgoing .chat_msg_text {
    background: #dae9f0;
}

.chat_msg.outgoing::before {
    border-top: 16px solid #dae9f0;
}


.chat_msg_time {
    font-size: 0.65rem;
    margin-left: 0.75rem;
    margin-right: 0.25rem;
    margin-top: auto;
    position: relative;
    top: 6px;
}
.chat_msg.outgoing .chat_msg_time {
    color: #748891;
}
.chat_msg.incoming .chat_msg_time {
    color: #b3a0a8;
}
.chat_date-label {
    font-size: 0.7rem;
    padding: 0.25rem 1rem;
    border: 1px solid #999;
    margin: 1rem auto 2rem auto;
    border-radius: 2rem;
}
.chat_messages_header {
    display: none;
    align-items: center;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    flex-grow: 0;
    padding: 0.5rem;
}
.chat_messages_header_avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
}










.chat_msg.outgoing {
    flex-direction: row-reverse;
}
.chat_msg.outgoing .chat_msg_text{
    margin-right: 0;
    margin-left: auto;
    border-radius: 1.75rem 0 1.75rem 1.75rem;
}
.chat_msg.outgoing.has-followed-msg .chat_msg_text {
    border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
}
.chat_msg.has-followed-msg + .chat_msg.outgoing .chat_msg_text {
    border-radius: 1.5rem 0.5rem 1.5rem 1.5rem;
}
.chat_msg.outgoing.has-followed-msg + .chat_msg.outgoing.has-followed-msg .chat_msg_text {
    border-radius: 1.5rem 0.5rem 0.5rem 1.5rem;
}
.chat_msg.outgoing .chat_msg_photo{
    margin-right: 0;
    margin-left: 0.5rem;
}
.chat_msg.outgoing::before {
    border-top: 16px solid #dae9f0;
    border-right: 16px solid transparent;
    border-left: none;
    left: initial;
    right: 2.5rem;
}











@media (max-width: 900px) {
    #chat-wrap {
        height: calc(100vh - 7rem);
    }
    #chat {
        position: relative;
        height: calc(100vh - 7rem);
        overflow: hidden;
    }
    .chat-conversations-panel {
        background-color: #fff;
        width: 100%;
        height: 100%;
        border-right: none;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        border-radius: 0.5rem;
    }
    .chat_conv.active {
        border: 2px solid #eee;
    }
    .chat_messages-panel {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 0.5rem;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 15;
        transition: left 250ms;
    }
    .chat_messages-panel.shown {
        left: 0;
    }
    .chat_messages_header {
        display: flex;
    }
    .chat_messages_back-button {
        width: 1rem;
        height: 1rem;
        margin-right: 1rem;
        border-left: 2px solid #999;
        border-bottom: 2px solid #999;
        transform: rotate(45deg);
        margin-left: 1rem;
        cursor: pointer;
    }
    .chat_messages_back-button:hover {
        border-left: 2px solid #333;
        border-bottom: 2px solid #333;
    }
    .chat_messages_header_name {
        margin-left: 1rem;
        font-weight: 500;
    }


    .chat_msg.incoming .chat_msg_text {
        background: #f0dae3;
    }
    .chat_msg.incoming::before {
        border-top: 16px solid #f0dae3;
    }





}
